
  <div nz-row nzJustify="end" class="btn-create">
    <button class="btn btn-primary" (click)="onCreateUser()" *hasPermission="'CREATE_USER'">
      <span nz-icon nzType="plus"></span> Créer un utilisateur
    </button>
  </div>

  <table  class="table table-bordered table-hover table-sm text-center" aria-describedby="page-heading">
    <thead class="table-primary">
      <tr>
        <th class="text-center">Nom</th>
        <th class="text-center" >Prénom</th>
        <th class="text-center">Email</th>
        <th class="text-center">Téléphone</th>
        <th class="text-center">Rôle</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of userList; track user.id) {
        <tr>
          <td class="text-center">{{ user.lastname }}</td>
          <td class="text-center">{{ user.firstname }}</td>
          <td class="text-center">{{ user.email }}</td>
           <td class="text-center">{{ user.telephone }}</td>
          <td class="text-center">{{ user.roleName }}</td>
          <td class="text-center">
            <div class="btn-group">
               <a class="btn btn-info btn-sm me-2"  (click)="onDetail(user)" *hasPermission="'DETAIL_USER'">
                <i class="bi bi-eye"></i> 
               </a>
              <a class="btn btn-warning btn-sm me-2" (click)="onEdit(user)" *hasPermission="'EDIT_USER'">
                <i class="bi bi-pencil"></i>
              </a>
              <a class="btn btn-danger btn-sm" (click)="onDelete(user)" *hasPermission="'DELETE_USER'">
                <i class="bi bi-trash"></i> 
              </a>
            </div>
            

          </td>
        </tr>
      }
    </tbody>
  </table>

  <nz-pagination
    [nzSimple]="false"
    [nzHideOnSinglePage]="true"
    [nzPageIndex]="pageNumber"
    [nzTotal]="totalElements"
    [nzPageSize]="sizeNumber"
    (nzPageIndexChange)="navigateToPage($event)"
    id="demo">
  </nz-pagination>


  

