<div class="container mt-4">

<h3>Recherche</h3>

  <div class="row mb-3">
    <div class="col-md-4 mb-2">
      <input type="text" class="form-control" placeholder="Rechercher par nom"
             [(ngModel)]="filters.nom" (input)="applyFilters()">
    </div>

    <div class="header-bar">
  <h1 class="mb-3">Gestion des marques</h1>
    <button class="btn btn-primary" (click)="onCreateMarque()" *hasPermission="'CREATE_MARQUE'">
      <span class="bi bi-plus"></span> Créer une marque
    </button>
  </div>



  <table class="table table-bordered table-hover table-sm text-center">
    <thead class="table-primary">
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (marque of filteredMarque; track marque.id) {
        <tr>
        <td>{{ marque.nom }}</td>
        <td>
          <a class="btn btn-warning btn-sm me-2" data-bs-toggle="tooltip" title="Modifier" (click)="onEdit(marque)" *hasPermission="'EDIT_MARQUE'">
            <i class="bi bi-pencil"></i>
          </a>
          <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Supprimer" (click)="onDelete(marque)" *hasPermission="'DELETE_MARQUE'">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

<nz-pagination
    [nzSimple]="false"
    [nzHideOnSinglePage]="true"
    [nzPageIndex]="pageNumber"
    [nzTotal]="totalElements"
    [nzPageSize]="sizeNumber"
    (nzPageIndexChange)="navigateToPage($event)"
    id="demo">
  </nz-pagination>


