<div class="container mt-4">
  <h2 class="mb-3">Ajouter un utilisateur</h2>

  
  <div *ngIf="errorMessages.length > 0" class="alert alert-danger mt-3">
    <ul class="mb-0">
      <li *ngFor="let msg of errorMessages">{{ msg }}</li>
    </ul>
  </div>

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
   
    <div class="row">
      
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" placeholder="Entrez le nom">
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Nom d'utilisateur</label>
          <input type="text" class="form-control" id="username" placeholder="Entrez le nom d'utilisateur">
        </div>

        <div class="mb-3">
          <label for="adresse" class="form-label">Adresse</label>
          <input type="text" class="form-control" id="adresse" placeholder="Entrez l'adresse">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password" placeholder="Mot de passe">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="prenom" placeholder="Entrez le prénom">
        </div>

        <div class="mb-3">
          <label for="dateNaissance" class="form-label">Date de naissance</label>
          <input type="date" class="form-control" id="dateNaissance">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Entrez l'email">
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmer le mot de passe">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="mb-3">
          <label for="telephone" class="form-label">Téléphone</label>
          <input type="text" class="form-control" id="telephone" placeholder="8 chiffres">
        </div>

        <div class="mb-3">
          <label for="role" class="form-label">Rôle</label>
          <select class="form-control" id="role">
            <option value="">Sélectionner un rôle</option>
          </select>
        </div>
      </div>
    </div>


    
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Retour</button>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid || loading">
        @if (!loading) {
        Envoyer
      }
      @if (loading) {
        <span class="spinner-border spinner-border-sm"></span>
        Envoi en cours...
      }
        </button>
    </div>
  </form>
</div>
