<div class="container mt-5">
  <h3>Réinitialisation du mot de passe</h3>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
        <label class="form-label">Nouveau mot de passe</label>
        <input [(ngModel)]="newPassword" name="newPassword" type="password" 
        class="form-control" #newPasswordField="ngModel" placeholder="Entrez votre mot de passe">
        <div *ngIf="newPasswordField.invalid && newPasswordField.touched" class="text-danger mt-1">
        Le mot de passe est obligatoire.
      </div>
      </div>
 <div class="mb-3">
        <label class="form-label">Confirmer mot de passe</label>
        <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" 
        class="form-control" #confirmPasswordField="ngModel" placeholder="Confirmer mot de passe"> 
      </div>
      <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="text-danger mt-1">
        La confirmation du mot de passe est obligatoire.
      </div>
  <button type="submit" class="btn btn-primary"  [disabled]="form.invalid || loading">
    @if (!loading) {
        Envoyer
      }
      @if (loading) {
        <span class="spinner-border spinner-border-sm"></span>
        Envoi en cours...
      }</button>
</form>
</div>
