<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
        <label class="form-label">Nouveau mot de passe</label>
        <input [(ngModel)]="newPassword" name="newPassword" type="password" 
        class="form-control" #newPasswordField="ngModel" placeholder="Entrez votre mot de passe">
         <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" 
     (click)="showPassword = !showPassword"
     style="position: absolute; top: 70%; right: 15px; cursor: pointer; transform: translateY(-50%);">
  </i>
      </div>
 <div class="mb-3">
        <label class="form-label">Confirmer mot de passe</label>
        <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" 
        class="form-control" #confirmPasswordField="ngModel" placeholder="Confirmer mot de passe">
        <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'" 
     (click)="showConfirmPassword = !showConfirmPassword"
     style="position: absolute; top: 70%; right: 15px; cursor: pointer; transform: translateY(-50%);">
  </i>
      </div>

  <button type="submit" class="btn btn-primary">Valider</button>
</form>
