<div class="container mt-4">
<h3>Recherche</h3>
<div class="row">
  <div class="col-md-6">
    <label for="dateDebut" class="form-label">Date début</label>
    <input
      type="date"
      id="dateDebut"
      class="form-control"
      [(ngModel)]="filters.dateDebut"
      (change)="applyFilters()"
    />
  </div>
  <div class="col-md-6">
    <label for="dateFin" class="form-label">Date fin</label>
    <input
      type="date"
      id="dateFin"
      class="form-control"
      [(ngModel)]="filters.dateFin"
      (change)="applyFilters()"
    />
  </div>
  <div class="col-md-6">
    <label for="articleSelect" class="form-label">Article</label>
    <select
      id="articleSelect"
      class="form-select"
      [(ngModel)]="filters.article"
      (change)="applyFilters()"
    >
      <option value="">-- Sélectionner un article --</option>
      <option *ngFor="let art of articleList" [value]="art">{{ art }}</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="employeSelect" class="form-label">Employé</label>
    <select
      id="employeSelect"
      class="form-select"
      [(ngModel)]="filters.employe"
      (change)="applyFilters()"
    >
      <option value="">-- Sélectionner un employé --</option>
      <option *ngFor="let emp of employeList" [value]="emp">{{ emp }}</option>
    </select>
  </div>
</div>


<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Gestion des Affectations</h1>
  <button class="btn btn-primary" (click)="onCreateAffectation()" *hasPermission="'CREATE_AFFECTATION'">
    <i class="bi bi-plus"></i> Créer une affectation
  </button>
</div>



<table class="table table-bordered table-hover table-sm text-center" aria-describedby="page-heading">
  <thead class="table-primary">
    <tr>
      <th class="text-center">Date début</th>
      <th class="text-center">Date fin</th>
      <th class="text-center">Nombre d'articles</th>
      <th class="text-center">Article</th>
      <th class="text-center">Employé</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (affectation of filteredAffectation; track affectation.id)
 {
      <tr>
        <td class="text-center">{{ affectation.dateDebut}}</td>
        <td class="text-center">{{ affectation.dateFin}}</td>
        <td class="text-center">{{ affectation.nbrArticle }}</td>
        <td class="text-center">{{ affectation.libArt}}</td>
        <td class="text-center">{{ affectation.employeNom }} {{ affectation.employePrenom }}</td>
        <td class="text-center">
          <div class="btn-group">
            <a class="btn btn-info btn-sm me-2" data-bs-toggle="tooltip" title="Detail" (click)="onDetail(affectation)" *hasPermission="'DETAIL_AFFECTATION'">
            <i class="bi bi-eye"></i> 
          </a>
          <a class="btn btn-warning btn-sm me-2" data-bs-toggle="tooltip" title="Modifier" (click)="onEdit(affectation)" *hasPermission="'EDIT_AFFECTATION'">
            <i class="bi bi-pencil"></i>
          </a>
          <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Supprimer" (click)="onDelete(affectation)" *hasPermission="'DELETE_AFFECTATION'">
            <i class="bi bi-trash"></i>
          </a>:
          <a class="btn btn-primary btn-sm me-2" data-bs-toggle="tooltip" title="Reaffecter" (click)="onReaffect(affectation)" *hasPermission="'REAFFECTER_AFFECTATION'">
            <i class="bi bi-arrow-repeat"></i>
          </a>

          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

<nz-pagination
  [nzSimple]="false"
  [nzHideOnSinglePage]="true"
  [nzPageIndex]="pageNumber"
  [nzTotal]="totalElements"
  [nzPageSize]="sizeNumber"
  (nzPageIndexChange)="navigateToPage($event)"
  id="demo">
</nz-pagination>

