<div class="container mt-5">
  <h3>Demande de réinitialisation du mot de passe</h3>
  <form #resetForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="Entrez votre email" #emailField="ngModel" required email>  
      <div class="text-danger mt-1" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
        L'email est obligatoire et doit être valide.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid || loading">
      @if (!loading) {
        Envoyer
      }
      @if (loading) {
        <span class="spinner-border spinner-border-sm"></span>
        Envoi en cours...
      }
    </button>

  </form>
</div>
