<div class="container">
  <div class="w-100" nz-flex nzJustify="flex-start">
    <h2>Modifier un employé</h2>
  </div>

  <form (ngSubmit)="onSubmit()" #employeForm="ngForm" nz-form nzLayout="vertical">

    <nz-form-item>
      <nz-form-label>Nom</nz-form-label>
      <nz-form-control>
        <input nz-input name="nom" [(ngModel)]="employe.nom" required placeholder="Entrez le nom"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Prénom</nz-form-label>
      <nz-form-control>
        <input nz-input name="prenom" [(ngModel)]="employe.prenom" required placeholder="Entrez le prénom"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Poste</nz-form-label>
      <nz-form-control>
        <input nz-input name="poste" [(ngModel)]="employe.poste" required placeholder="Entrez le poste"/>
      </nz-form-control>
    </nz-form-item>

     <nz-form-item>
      <nz-form-label>Email</nz-form-label>
      <nz-form-control>
        <input nz-input name="email" [(ngModel)]="employe.email" required placeholder="Entrez l'email"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Division</nz-form-label>
      <nz-form-control>
        <input nz-input name="division" [(ngModel)]="employe.division" required placeholder="Entrez la division"/>
      </nz-form-control>
    </nz-form-item>

    <div class="form-actions mt-3 d-flex justify-content-between">
      <button nz-button type="button" class="btn-vert" (click)="onCancel()">Retour</button>
      <button nz-button nzType="primary" type="submit" [disabled]="!employeForm.form.valid || loading">
         @if (!loading) {
        Envoyer
      }
      @if (loading) {
        <span class="spinner-border spinner-border-sm"></span>
        Envoi en cours...
      } </button>
    </div>

  </form>
</div>
