<div class="container mt-4">
  <h1 class="mb-3">Gestion des rôles</h1>
  <div nz-row nzJustify="end" class="btn-create">
    <button class="btn btn-primary" (click)="onCreateRole()" *hasPermission="'CREATE_ROLE'">
      <span nz-icon nzType="plus"></span> Créer un rôle
    </button>
  </div>

  <table class="table table-bordered table-hover table-sm text-center">
    <thead class="table-primary">
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Permissions assignées</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
       @for (role of roleList; track role.name) {
          <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.description }}</td>
            <td>{{ role.permissions!.length}} </td>
            <td>

              <a class="btn btn-info btn-sm me-2" (click)="onAssignPermissions(role)" *hasPermission="'ASSIGN_PERMISSION'">
                <i class="bi bi-pencil"></i>
              </a>
              <a class="btn btn-warning btn-sm me-2" (click)="onEdit(role)" *hasPermission="'EDIT_ROLE'">
                <i class="bi bi-pencil"></i> 
              </a>
              <a class="btn btn-danger btn-sm" (click)="onDelete(role)" *hasPermission="'DELETE_ROLE'">
                <i class="bi bi-trash"></i> 
              </a>
            </td>
          </tr>
        }
    </tbody>
  </table>
</div>
<nz-pagination
    [nzSimple]="false"
    [nzHideOnSinglePage]="true"
    [nzPageIndex]="pageNumber"
    [nzTotal]="totalElements"
    [nzPageSize]="sizeNumber"
    (nzPageIndexChange)="navigateToPage($event)"
    id="demo">
  </nz-pagination>