<div class="container">
  <h2>Modifier un article</h2>

  <form (ngSubmit)="onSubmit()" #articleForm="ngForm" nz-form nzLayout="vertical">

    <nz-form-item>
      <nz-form-label>Libellé</nz-form-label>
      <nz-form-control>
        <input nz-input name="libArt" [(ngModel)]="article.libArt" required placeholder="Entrez le libellé"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Stock</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" name="stock" [(ngModel)]="article.stock" required placeholder="Entrez le stock"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Type</nz-form-label>
      <nz-form-control>
        <input nz-input name="type" [(ngModel)]="article.type" required placeholder="Entrez le type"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>État</nz-form-label>
      <nz-form-control>
        <input nz-input name="etat" [(ngModel)]="article.etat" required placeholder="Entrez l'état"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Commentaire</nz-form-label>
      <nz-form-control>
        <input nz-input name="commentaire" [(ngModel)]="article.commentaire" placeholder="Commentaire"/>
      </nz-form-control>
    </nz-form-item>

    <div class="mb-3">
  <label class="form-label">Marque</label>
  <nz-select class="w-100"
    [(ngModel)]="article.marqueId"
    name="marqueId"
    #marqueId="ngModel"
    nzShowSearch
    nzPlaceHolder="Sélectionner une marque"
    [nzServerSearch]="true"
    (nzOnSearch)="onSearchMarque($event)"
    [nzLoading]="loadingMarque"
    [nzAllowClear]="true"
    required
  >
    <nz-option
      *ngFor="let marque of marqueOptionList"
      [nzValue]="marque.id"
      [nzLabel]="marque.nom"
    ></nz-option>
  </nz-select>
  <div class="text-danger" *ngIf="marqueId.invalid && (marqueId.dirty || marqueId.touched)">
    La marque est obligatoire.
  </div>
</div>


    <div class="mb-3">
  <label class="form-label">Catégorie</label>
  <nz-select class="w-100"
    [(ngModel)]="article.categorieId"
    name="categorieId"
    #categorieId="ngModel"
    nzShowSearch
    nzPlaceHolder="Sélectionner une catégorie"
    [nzServerSearch]="true"
    (nzOnSearch)="onSearchCategorie($event)"
    [nzLoading]="loadingCategorie"
    [nzAllowClear]="true"
    required
  >
    <nz-option
      *ngFor="let cat of categorieOptionList"
      [nzValue]="cat.id"
      [nzLabel]="cat.nom"
    ></nz-option>
  </nz-select>
  <div class="text-danger" *ngIf="categorieId.invalid && (categorieId.dirty || categorieId.touched)">
    La catégorie est obligatoire.
  </div>
</div>

 <div class="mb-3">
      <label for="imageUrl" class="form-label">Image</label>
      <input type="file" id="imageUrl" class="form-control" (change)="onImageSelected($event)" accept="image/*" />
      <div *ngIf="imagePreview" class="mt-2">
  <img [src]="imagePreview" alt="Aperçu image" width="50" height="50"
       style="object-fit: cover; border-radius: 5px; border: 1px solid #ccc;" />
</div>
    </div>

    <div class="form-actions">
      <button nz-button type="button" (click)="onCancel()">Retour</button>
      <button nz-button nzType="primary" type="submit" [disabled]="!articleForm.form.valid">
        @if (!loading) {
        Envoyer
      }
      @if (loading) {
        <span class="spinner-border spinner-border-sm"></span>
        Envoi en cours...
      }
        </button>
    </div>

  </form>
</div>
