<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Structure sanitaire</h1>
      </a>
    </div>



    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Configurations" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter *hasPermission="'LIST_USER'">
            <a routerLink="/admin/dashboard/users-list">Utilisateurs</a>
          </li>
          <li nz-menu-item nzMatchRouter *hasPermission="'LIST_ROLE'">
            <a routerLink="/admin/dashboard/roles-list">Rôles</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/permissions-list" *hasPermission="'LIST_PERMISSION'">Permissions</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/articles-list">Articles</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/marque-list">Marques</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/categorie-list">Categories</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/employe-list">Employes</a>
          </li>:
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/fournisseur-list">Fournisseures</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/reception-list">Receptions</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/dashboard/affectation-list">Affectations</a>
          </li>
        </ul>
      </li>

    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header  d-flex flex justify-content-between align-items-center" >
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>

        </span>
        <div class="dropdown ">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Profil
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" >Nom: {{lastname}}</a></li>
          <li><a class="dropdown-item" >Prenom: {{firstname}}</a></li>
          <li><a class="dropdown-item" (click)="deconnecter()">Deconnexion</a></li>
        </ul>
      </div>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>