<h3>Recherche</h3>
<div class="row mb-3">
  <div class="col-md-4">
    <input type="text" placeholder="Nom" [(ngModel)]="filters.nom" (input)="applyFilters()" class="form-control" />
  </div>
  <div class="col-md-4">
    <input type="text" placeholder="Contact" [(ngModel)]="filters.contact" (input)="applyFilters()" class="form-control" />
  </div>
  <div class="col-md-4">
    <input type="text" placeholder="NIF" [(ngModel)]="filters.nif" (input)="applyFilters()" class="form-control" />
  </div>
</div>


<div class="header-bar">
  <h1>Gestion des fournisseurs</h1>
  <button class="btn btn-primary" (click)="onCreateFournisseur()" *hasPermission="'CREATE_FOURNISSEUR'">
    <span nz-icon nzType="plus"></span> Créer un fournisseur
  </button>
</div>

<table class="table table-bordered table-hover table-sm text-center">
  <thead class="table-primary">
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Contact</th>
      <th class="text-center">NIF</th>
      <th class="text-center">Adresse</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (fournisseur of filteredFournisseur; track fournisseur.id) {
      <tr>
        <td class="text-center">{{ fournisseur.nom }}</td>
        <td class="text-center">{{ fournisseur.contact }}</td>
        <td class="text-center">{{ fournisseur.nif }}</td>
        <td class="text-center">{{ fournisseur.adresse }}</td>
        <td class="text-center">
          <div class="btn-group">
            <a class="btn btn-info btn-sm me-2" data-bs-toggle="tooltip" title="Detail" (click)="onDetail(fournisseur)" *hasPermission="'DETAIL_FOURNISSEUR'">
            <i class="bi bi-eye"></i> 
          </a>
          <a class="btn btn-warning btn-sm me-2" data-bs-toggle="tooltip" title="Modofier" (click)="onEdit(fournisseur)" *hasPermission="'EDIT_FOURNISSEUR'">
            <i class="bi bi-pencil"></i>
          </a>
          <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip" title="Supprimer" (click)="onDelete(fournisseur)" *hasPermission="'DELETE_FOURNISSEUR'">
            <i class="bi bi-trash"></i>
          </a>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

<nz-pagination
  [nzSimple]="false"
  [nzHideOnSinglePage]="true"
  [nzPageIndex]="pageNumber"
  [nzTotal]="totalElements"
  [nzPageSize]="sizeNumber"
  (nzPageIndexChange)="navigateToPage($event)">
</nz-pagination>
