<div class="container mt-4">
  <h1 class="mb-3">Gestion des permissions</h1>
  <div nz-row nzJustify="end" class="btn-create">
    <button class="btn btn-primary" (click)="onCreatePermission()">
      <span nz-icon nzType="plus"></span> Créer une permission
    </button>
  </div>

  <table class="table table-bordered table-hover table-sm text-center">
    <thead class="table-primary">
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
       @for (permission of permissionList; track permission.name) {
          <tr>
            <td>{{ permission.name }}</td>
            <td>{{ permission.description }}</td>
            <td>
              <button class="btn btn-warning btn-sm me-2" (click)="onEdit(permission)">
                <i class="bi bi-pencil"></i> Modifier
              </button>
              <button class="btn btn-danger btn-sm" (click)="onDelete(permission)">
                <i class="bi bi-trash"></i> Supprimer
              </button>
            </td>
          </tr>
        }
    </tbody>
  </table>
</div>
<nz-pagination
    [nzSimple]="false"
    [nzHideOnSinglePage]="true"
    [nzPageIndex]="pageNumber"
    [nzTotal]="totalElements"
    [nzPageSize]="sizeNumber"
    (nzPageIndexChange)="navigateToPage($event)"
    id="demo">
  </nz-pagination>