<div class="card" style="width: 22rem; margin: auto; margin-top: 30px;">
  <div class="card-body" >
    <h4 class="card-title">Détails de l'utilisateur</h4>
    <hr>

    <p><strong>Nom :</strong> {{ user.lastname }} </p>
    <p><strong>Prénom :</strong> {{ user.firstname }}</p>
    <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
    <p><strong>Âge :</strong> {{ user. dateNaissance }}</p>
    <p><strong>Adresse :</strong> {{ user.adresse }}</p>
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
    <p><strong>Rôle :</strong> {{ user.roleName }}</p>

    <hr>
    <button class="btn btn-primary" (click)="onCancel()">Retour</button>
  </div>
</div>
